// Place all the styles related to the ibans controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: whitesmoke;

}
td {
  display: block;
  clear:both;
}
.box {
  background: #F3F3F3;
  padding-left: 10px;
}